.gradient-custom-3 {
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  /*remove the effect when the cursor is over a button*/
  transform: none !important;
  transition: none !important;
}
.card-wrapper {
  height: auto !important;
  transition: height 0.3s ease;
}
a.text-decoration-none:hover {
  text-decoration: underline;
}
.auth-link {
  color: #333;
  font-size: 0.95rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.auth-link:hover {
  color: #75fc967a; /* Bootstrap blue or pick your own */
  text-decoration: underline;
}

/* Alternative approach - hide any MDB password toggle icons */
.form-outline .fa-eye,
.form-outline .fa-eye-slash {
  display: none !important;
}
.login-heading {
    font-size: 2.5rem; /* Adjust the size as you like */
    font-weight: 700;
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
